﻿@using SpriteGen.Models
@{
    ViewBag.Title = "Configuration";
}

@section scripts{
    <script src="~/Content/scripts/configuration.js"></script>
}

<h2>@ViewBag.Title</h2>

<div>
    <div class="row">
        <div class="col-md-12">
            <p>
                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Sprites</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <form role="form">
                    <div class="form-group col-md-5 spriteWidthHeight">
                        <label for="inputSpriteWidth">Width</label>
                        <input type="text" class="form-control" id="inputSpriteWidth" value="@(Configuration.GetInstance().SpriteWidth)" />
                    </div>
                    <div style="float: left">
                        <i class="fa fa-times" id="spriteWidthHeightX" aria-hidden="true"></i>
                    </div>
                    <div class="form-group col-md-5 spriteWidthHeight">
                        <label for="inputSpriteHeight">Height</label>
                        <input type="text" class="form-control" id="inputSpriteHeight" value="@(Configuration.GetInstance().SpriteHeight)" />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-10">
        </div>
    </div>
    <div class="row configurationButtons">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" onclick="save()">Save</button>
            <button type="button" class="btn btn-danger" id="cancelButton" onclick="cancel()">Cancel</button>
        </div>
    </div>
</div>