﻿@{
    ViewBag.Title = "Home";
}

@section scripts{
    <script src="~/Content/scripts/index.js"></script>
}

<div id="content">
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="form-group">
                    <label id="genreLabel" for="genreCheckboxes">Genres:</label>
                    <div id="genreCheckboxes">
                        <label id="femaleLabel"><input id="femaleCheckbox" type="checkbox" data-bind="checked: useGenre" value="female">Female</label>
                        <label id="maleLabel"><input id="maleCheckbox" type="checkbox" data-bind="checked: useGenre" value="male">Male</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="form-group">
                    <label id="raceLabel" for="raceCheckboxes">Races:</label>
                    <div id="raceCheckboxes">
                        <label id="darkLabel"><input id="darkCheckbox" type="checkbox" data-bind="checked: useRace" value="dark">Dark</label>
                        <label id="dark2Label"><input id="dark2Checkbox" type="checkbox" data-bind="checked: useRace" value="dark2">Dark (v2)</label>
                        <label id="darkelfLabel"><input id="darkelfCheckbox" type="checkbox" data-bind="checked: useRace" value="darkelf">Dark Elf</label>
                        <label id="darkelf2Label"><input id="darkelf2Checkbox" type="checkbox" data-bind="checked: useRace" value="darkelf2">Dark Elf (v2)</label>
                        <label id="lightLabel"><input id="lightCheckbox" type="checkbox" data-bind="checked: useRace" value="light">Light</label>
                        <label id="orcLabel"><input id="orcCheckbox" type="checkbox" data-bind="checked: useRace" value="orc">Orc</label>
                        <label id="redorcLabel"><input id="redOrcCheckbox" type="checkbox" data-bind="checked: useRace" value="redorc">Red Orc</label>
                        <label id="skeletonLabel"><input id="skeletonCheckbox" type="checkbox" data-bind="checked: useRace" value="skeleton">Skeleton</label>
                        <label id="tannedLabel"><input id="tannedCheckbox" type="checkbox" data-bind="checked: useRace" value="tanned">Tanned</label>
                        <label id="tanned2Label"><input id="tanned2Checkbox" type="checkbox" data-bind="checked: useRace" value="tanned2">Tanned (v2)</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form role="form">
                <div class="form-group">
                    <label id="seedLabel" for="keyInput">Seed:</label>
                    <input idtype="text" class="form-control" id="keyInput" data-bind="value: key" />
                    <label id="quantityLabel" for="keyInput">Quantity:</label>
                    <input idtype="text" class="form-control" id="quantityInput" data-bind="value: quantity" />
                    <button type="button" class="btn btn-primary" id="generateButton" data-bind="click: generate"><i class="fa fa-spinner" aria-hidden="true"></i> Generate!</button>
                    <div class="btn-group" id="saveAllAsMenu" data-bind="visible: showSaveAllAsMenu">
                        <button class="btn btn-success disabled"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save All As...</button>
                        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" data-bind="click: saveAllAsSingleSpriteSheet"><i class="fa fa-file-o" aria-hidden="true"></i> Single sprite sheet</a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: saveAllAsMultipleSpriteSheets"><i class="fa fa-files-o" aria-hidden="true"></i> Multiple sprite sheets</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="spriteBody" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutBody }" alt="body" />
        </div>
        <div class="spriteEyes" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutEyes }" alt="eyes" />
        </div>
        <div class="spriteNose" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutNose }" alt="nose" />
        </div>
        <div class="spriteHair" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutHair }" alt="hair" />
        </div>
        <div class="spriteLegs" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutLegs }" alt="legs" />
        </div>
        <div class="spriteFeet" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutFeet }" alt="feet" />
        </div>
        <div class="spriteTorso" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutTorso }" alt="torso" />
        </div>
        <div class="spriteArms" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutArms }" alt="arms" />
        </div>
        <div class="spriteHands" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutHands }" alt="hands" />
        </div>
        <div class="spriteWeapon" data-bind="foreach: spriteList">
            <img class="sprite" data-bind="attr: { src: cutWeapon }, event: {click: $root.openModal}" alt="weapon" data-toggle="modal" data-target="#spriteModal" />
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="spriteModal" role="dialog">
        <div class="modal-dialog" role="document">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">SpriteGen</h4>
                </div>
                <div class="modal-body">
                    <canvas id="backAnimationCanvas"></canvas>
                    <canvas id="leftAnimationCanvas"></canvas>
                    <canvas id="frontAnimationCanvas"></canvas>
                    <canvas id="rightAnimationCanvas"></canvas>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" id="actionDropdown" type="button" data-toggle="dropdown">Preview animation...<span class="caret" id="actionDropdownArrow"></span></button>
                        <ul class="dropdown-menu" id="actionDropdownMenu">
                            <li><a href="#" data-bind="click: showWalkAnimation">Walk</a></li>
                            <li><a href="#" data-bind="click: showSlashAnimation">Slash</a></li>
                            <li><a href="#" data-bind="click: showShootAnimation">Shoot</a></li>
                            <li><a href="#" data-bind="click: showSpellcastAnimation">Spellcast</a></li>
                            <li><a href="#" data-bind="click: showThrustAnimation">Thrust</a></li>
                            <li><a href="#" data-bind="click: showHurtAnimation">Hurt</a></li>
                        </ul>
                    </div>
                    <hr id="modalSeparator"/>
                    <img id="modalSpriteSheet" alt="merged sprite sheet"/>
                </div>
                <div class="modal-footer">
                    <div class="btn-group" id="saveAsMenu">
                        <button class="btn btn-success disabled"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save As...</button>
                        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="saveAsDropdown">
                            <li>
                                <a href="#" data-bind="click: saveAsSingleSpriteSheet"><i class="fa fa-file-o" aria-hidden="true"></i> Single sprite sheet</a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: saveAsMultipleSpriteSheets"><i class="fa fa-files-o" aria-hidden="true"></i> Multiple sprite sheets</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
