﻿html, body, #pageBody, .body-content, #content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

/* BODY */
#pageBody {
    overflow-y: hidden;
    overflow-x: hidden;
}

#otoid {
    height: 220px;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.blockOverlay {
    z-index: 9000;
}

/* HOME */
#genreLabel {
    float: left;
    margin-top: 1px;
}

#raceLabel {
    float: left;
    margin-top: 1px;
}

#femaleLabel, #maleLabel, #darkLabel, #dark2Label, #darkelfLabel, #darkelf2Label, #lightLabel, #orcLabel, #redorcLabel, #skeletonLabel, #lightLabel, #tannedLabel, #tanned2Label, #allRacesLabel {
    float: left;
    margin-left: 20px;
}

#femaleCheckbox, #maleCheckbox, #darkCheckbox, #dark2Checkbox, #darkelfCheckbox, #darkelf2Checkbox, #lightCheckbox, #orcCheckbox, #redorcCheckbox, #skeletonCheckbox, #tannedCheckbox, #tanned2Checkbox, #allRacesCheckbox {
    padding: 0;
    margin-right: 3px;
    vertical-align: center;
    position: relative;
    top: 1px;
    overflow: hidden;
}

#seedLabel {
    float: left;
    margin-top: 6px;
}

#quantityLabel {
    float: left;
    margin: 6px 0 0 17px;
}

#keyInput, #quantityInput {
    float: left;
    width: 76px;
    margin-left: 19px;
}

#generateButton, #saveAsMenu {
    float: left;
    margin-left: 15px;
}

#saveAllAsMenu {
    z-index: 999;
    float: left;
    margin-left: 15px;
}

.spriteBody {
    float: left;
    height: 64px;
    position: relative;
}

.spriteBody, .spriteEyes, .spriteNose, .spriteHair, .spriteTorso, .spriteBack, .spriteLegs, .spriteFeet, .spriteArms, .spriteHands, .spriteWeapon, .spriteModal {
    position: absolute;
    padding: 0 30px 0 45px;
}

.sprite {
    position: relative;
    margin-left: 5px;
    margin-right: 15px;
    cursor: pointer;
}

/* MODAL */
body.modal-open {
    overflow: hidden;
}

.modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
    position: center;
}

#spriteModal {
    text-align: center;
}

#actionDropdown {
    /*float: left;*/
    margin-top: 20px;
}

#actionDropdownArrow {
    margin-left: 10px;
}

#actionDropdownMenu {
    width: 172px;
    left: 39.7%;
    /*margin-top: 33px;*/
}

#saveAsDropdown {
    text-align: left;
}

/* CONFIGURATION */

.spriteWidthHeight {
    float: left;
}

#spriteWidthHeightX {
    margin-top: 32px;
}

.configurationButtons {
    margin-top: 20px;
}

#cancelButton {
    margin-left: 20px;
}

/* ABOUT */

/* FOOTER */
#footer {
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear: both;
    background-color: #414141;
    z-index: 999;
}

    #footer #conteudoFooter {
        padding-top: 15px;
    }

        #footer #conteudoFooter .textoFooter {
            color: white;
            text-align: center;
        }
